body{
    background-color: black;
}

img{
    width: 70%;
    padding-bottom: 5px;
    filter: invert(80%);
}

audio{
    position: fixed;
   bottom: 0;
    right: 0;
    width: 100%;
    background-color: white;
}

.content{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

